header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 92px;
  background: #3c3a39;
  z-index: 1;
}

#logo {
  padding: 10px 12px;
  position: absolute;
  left: 12px;
  top: calc(50% - 44px / 2);
  width: 101px;
  height: 44px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

#icon-menu {
  position: absolute;
  right: 24px;
  top: calc(50% - 40px / 2);
}

#main {
  position: absolute;
  left: 0;
  right: 0;
  top: 92px;
  bottom: 0;
}

#headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 12px;
  height: 590px;
  background: #1c1a19;
  background-image: url('assets/background-image.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1 {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.section-title {
  height: 83px;
  font-size: 40px;
  line-height: 52px;
  color: #1C1A19;
}

h2 {
  width: 327px;
  height: 27px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

p {
  width: 327px;
  height: 123px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

#social-medias {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
}

.icon {
  padding: 8px;
  width: 24px;
  height: 24px;
}

.clickable:hover {
  opacity: 0.5;
  transition-timing-function: ease-in-out;
  transition-property: opacity;
}

a {
  text-decoration: none;
}

#recent-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0px;
  gap: 80px;
  position: absolute;
  height: 3455px;
  left: 0;
  right: 0;
  /* top: 682px; */
  /* background: #ff6b00; */
}

hr {
  /* width: 327px; */
  width: 87%;
  height: 0px;
  border: 1px solid #212121;
}

.project-card {
  display: grid;
  grid-template-areas:
    'empty empty empty empty'
    'empty empty empty empty'
    'title title title title'
    'title title title title'
    'content content content content'
    'content content content content',
    '. . . .',
    '. . . .';
  width: 87%;
  height: 386px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(assets/project-background-1.png);
}

#projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.card-body {
  /* display: grid; */
  padding: 8px 16px;
  gap: 12px;
}

.card-footer {

}

.tags-list {

}

.tag {

}

#empty {
  grid-area: empty;
  background: #000;
  /* width: 100px; */
  /* height: 30px; */
}

.card-title {
  width: 295px;
  height: 81px;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  grid-area: title;
}

.card-content {
  grid-area: content;
}

.project-detail-button {
  position: relative;
  width: 87%;
  height: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF6B00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
}

/* width: 375px */