@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
}

hr {
  border: 1px solid #212121;
  margin-bottom: 80px;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 48px;
  padding: 12px 24px;
  background: #3c3a39;
  z-index: 1;
}

#logo {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

#headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px 175px 24px;
  gap: 12px;
  background: #1c1a19;
  background-image: url('../images/headline-background.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}

h1 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-bottom: 0;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-medias {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.icon {
  width: 24px;
  height: 24px;
}

a {
  text-decoration: none;
}

#recent-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
}

.section-title {
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
}

.project-card {
  display: grid;
  background: linear-gradient(179.35deg, #26262600 0.85%, #262626e6 84%), url(../images/project-background-0.png);
  background-size: 100% 100%;
}

.project-card-1 {
  display: grid;
  grid-template-areas:
    "img img"
    "title title"
    "content content"
    "tags tags"
    "button .";
}

img {
  grid-area: img;
}

#projects-list {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  row-gap: 24px;
}

#projects-grid {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.card-body {
  padding: 8px 16px;
}

ul {
  list-style: none;
}

li {
  color: #fff;
}

.tags-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 0;
  grid-area: tags;
}

.tag {
  padding: 12px;
  background: #ffffff3d;
}

.tag-1 {
  color: #000;
  border: 1px solid #8993a4;
  background: #fff;
}

.card-title {
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-bottom: 0;
  grid-area: title;
}

.card-title-1 {
  color: #000;
}

.card-content {
  font-family: 'Inter', sans-serif;
  grid-area: content;
}

.card-content-1 {
  color: #000;
}

.project-detail-button {
  padding: 12px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
}

#about-section {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
}

#resume-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../images/about-background.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 120px 24px 200px 24px;
}

#resume-button {
  align-self: flex-start;
}

#about-hr {
  width: 87%;
  border: 1px solid #fff;
}

#skills-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px 24px 135px 24px;
  gap: 44px;
}

#skills-block ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.about-logo {
  width: 18px;
  height: 18px;
  background: #ff6b00;
}

#languages-logo {
  transform: rotate(45deg);
}

#skills-logo {
  border-radius: 150px;
}

.skill-title-block {
  display: flex;
  align-items: center;
  gap: 12px;
}

#skill-title {
  font-family: 'InaiMathi', sans-serif;
  font-size: 32px;
  line-height: 44px;
}

#skills-block li {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 120px 24px 0 24px;
}

footer hr {
  width: 100%;
  margin: 0 0 25px 0;
  border: 1px solid #dfe1e6;
  grid-area: hr;
}

footer p {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
  grid-area: foot-p;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  padding-bottom: 124px;
  grid-area: form;
}

button[type="submit"] {
  align-self: center;
}

footer .social-medias {
  align-self: center;
  grid-area: socials;
}

.form-input {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: #dbd8d7;
  padding: 14px;
}

textarea {
  border: none;
  background: #fbf8f7;
  padding: 12px;
}

::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

textarea::placeholder {
  color: #3c3a39;
}

input::placeholder {
  color: #979493;
}

@media screen and (min-width: 768px) {
  header {
    padding: 24px 150px;
    height: 24px;
  }

  a.nav-menu {
    display: none;
  }

  ul.nav-menu {
    display: flex;
    gap: 32px;
    list-style: none;
  }

  ul.nav-menu li a {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  #headline {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 87px;
    background-image: url(../images/headline-background-desktop.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

  footer .social-medias {
    justify-content: center;
    margin-top: 0;
  }

  #headline .social-medias {
    flex-direction: column;
    order: 0;
  }

  #presentation-block {
    width: 39%;
    order: 1;
  }

  #recent-works {
    padding: 130px 142px;
  }

  #recent-works > div:first-child {
    display: flex;
    flex-direction: row;
    align-self: stretch;
    align-items: center;
    gap: 24px;
    padding-bottom: 114px;
  }

  hr {
    margin-bottom: 0;
  }

  button {
    transition: background-color 100ms;
  }

  button:hover {
    background-color: #d38248;
  }

  .project-card-1 {
    display: grid;
    column-gap: 24px;
    grid-template-columns: 3fr 2fr;
    grid-template-areas:
      "img title"
      "img content"
      "img tags"
      "img button"
      "img .";
  }

  .project-card-1 img {
    width: 100%;
    height: 100%;
    transition: scale 200ms;
  }

  .project-card-1 img:hover {
    scale: 1.1;
  }

  .project-card-1 button {
    width: 30%;
  }

  .project-card-1 h1 {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  #projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }

  .project-card {
    transition: scale 200ms;
  }

  .project-card:hover {
    background: url(../images/project-background-0.png);
    scale: 1.1;
  }

  .project-card button {
    visibility: hidden;
  }

  .project-card:hover button {
    visibility: visible;
  }

  #resume-block {
    flex-direction: column;
    align-items: flex-start;
    background: url(../images/about-background-desktop.png);
    background-position: right;
    background-repeat: no-repeat;
    padding: 130px 142px;
  }

  footer p {
    font-size: 40px;
    line-height: 52px;
    text-align: start;
  }

  #resume-block p {
    width: 50%;
  }

  #skills-block {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 130px 142px;
    gap: 176px;
  }

  #skills-block ul {
    align-items: flex-start;
  }

  footer {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    padding: 130px 142px 0 142px;
    grid-template-areas:
      "foot-p form"
      "hr hr"
      "socials socials";
  }

  form {
    width: 100%;
    height: 100%;
  }

  button[type="submit"] {
    align-self: flex-start;
  }
}
